#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#site-canvas {
  width: 100%;
  height: max-content;
  display: block;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#site-menu {
  font-size: 1.5rem;
  width: 300px;
  height: 100%;
  position: absolute;
  top: -1.5em;
  right: -300px;
  background: #585b8c;
  color: white;
  margin-top: 2vh;
}

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

#site-wrapper.show-nav #site-menu {
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 1025px) {
  #site-menu {
    display: none;
  }
}

.new-slick-prev {
  left: -25px;
}

.new-slick-next {
  right: -25px;
}

.new-slick-next,
.new-slick-prev {
  font-size: 3rem;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: white;
  border: none;
  outline: 0;
  background: 0 0;
  position: absolute;
  display: block;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

.animateArrow {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.resetArrow {
  transform: rotate(0deg);
  transition: 0.3s;
}

/* hamburger sidebar */
.Sidebar {
  &:first-child {
    padding-top: 2vh;
  }
  font-size: 1.25rem;
}

.SidebarItem {
  list-style: none;
  padding-top: 1vh;
  padding-left: 2vw;
  padding-bottom: 0.25vh;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #292a3e;
  }
}

.SidebarDropdown {
  list-style: none;
  padding-left: 2vw;
  margin-bottom: 3vh;
  & > *:hover {
    color: #292a3e;
  }
  & > * {
    padding-bottom: 0.5vh;
  }
}

.SidebarContact {
  list-style: none;
  margin-top: 3vh;
  padding-top: 1vh;
  padding-left: 2vw;
  & > * {
    padding-bottom: 0.75vh;
  }
  & > .sideenv > a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #292a3e;
    }
  }
  & > .sidelinked > a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #292a3e;
    }
    svg {
      width: 25px;
    }
  }
  & > li:nth-child(3) {
    padding-top: 1vh;
  }
  .sidebill {
    padding: 0.5em;
    border-radius: 30px;
    color: white;
    background-color: #292a3e;
    outline: none;
    border: none;
  }
  .sidebill:hover {
    background-color: #775997;
  }
}

.indexGrid {
  //flex-direction: column;
  color: white;
  @media screen and (max-width: 900px) and (orientation: landscape) {
  }
}

.CoverHold {
  position: relative;
  background-color: black;
  display: block;
  height: 55vh;
  width: 100vw;
}

.CoverText {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding-top: 15vh;
  h1 {
    width: 95%;
    margin: 0 auto 0.5em auto;
    font-size: 2.5em;
  }
  p {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em;
  }
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  background-color: rgba(0, 0, 0, 0.5);
}

.CoverText#NefaLogoGrid {
  //
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 4vh;
  h1 {
    width: 100%;
    color: white;
    text-align: center;
    line-height: 1;
    font-size: 2.5em;
    padding-top: 2vh;
  }
  .image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    img {
      width: 35%;
      height: 35%;
      margin-bottom: 3rem;
    }

    @media screen and (min-width:800px){
      flex-direction: row;
      align-items: baseline;
      img {
        width: 25%;
        height: 25%;
      }
    }

  }
}

.LearnMore {
  button {
    margin-top: 5vh;
    border-radius: 3em;
    background-color: #585b8c;
    color: white;
    outline: none;
    border: none;
    padding: 0.5em 1em;
    &:hover {
      background-color: #292a3e;
    }
  }
}

.focusedslide {
  color: #292a3e;
  background-color: white;
  display: flex;
  flex-direction: column;
  //
  height: auto;
  //
  padding-bottom: 5vh;
  text-align: center;
  margin: 3vh 6vw;
}

.FocusedTitle {
  margin: 0 auto 0 auto;
  h1 {
    font-size: 2.3em;
  }
  p {
    display: flex;
    justify-content: center;
    margin: 1.5vh auto 1.5vh auto;
    width: 80%;
    @media screen and (min-width: 1025px) {
      width: 60%;
    }
    font-size: 1.25em;
  }
}

.FocusedBody {
  border-top: 1px solid #585b8c;
  color: #585b8c;
  text-align: left;
  display: flex;
  flex-direction: column;

  padding: 1vh 0.5vh;
  text-align: center;
  & > div.focusedRow {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1025px) {
      flex-direction: row;
    }
    & > div {
      margin-bottom: 5vh;
      display: flex;
      @media screen and (min-width: 1025px) {
        width: 50%;
        margin-right: 2vw;
      }
    }
  }
  & > div > div {
    h1 {
      font-size: 4.5em;
      margin-right: 3vw;
    }
    p {
      margin-top: 2vh;
      padding-top: 0;
      @media screen and (min-width: 1025px) {
        padding-top: inherit;
      }
    }
  }
}

.SolutionsSlide {
  background-color: #585b8c;
  display: flex;
  flex-direction: column;
  padding: 3vh 2vh;
  height: auto;
  h1.title {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    font-size: 1.75em;
  }
  & > div {
    justify-self: center;
    align-self: center;
    position: relative;
    width: 80vw;
    height: max-content;
    @media screen and (min-width: 1025px) {
      width: 90vw;
    }
    @media screen and (max-width: 700px) and (orientation: landscape) {
      width: 60vw;
    }
  }
}

.SolTitle {
  font-size: 1.5em;
  padding: 2vh 0;
  font-weight: 300;
}

.SolBody {
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.SolIcon {
  font-size: 2.25em;
}

.NefaSlide {
  position: relative;
  background-color: black;
  display: block;
  height: 45vh;
}

.InterestedSlide {
  background-color: #585b8c;
  height: auto;
  color: white;
  display: flex;
  flex-direction: row;

  padding: 2vh 0.5vw 2vh 0.5vw;
  /*desktop*/
  @media screen and (min-width: 1024px) {
    padding: 2vh 5vh 5vh 5vh;
  }

  p.copyright {
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: 0.75em;
  }
}

.Offerings,
.Offerings2 {
  width: 50%;
  display: flex;
  flex-direction: column;

  border-right: 1px solid white;
  margin-left: 5%;
  h1 {
    font-size: 1.5em;
    margin: 1vh 0 2.5vh 0;
    text-transform: uppercase;
  }
  ul {
    font-weight: 200;
    font-size: 0.75em;
    margin-left: 2em;
    li {
      padding-bottom: 1vh;
    }
  }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 1.75em;
    }
    ul {
      font-weight: 200;
      font-size: 1em;
      li {
        padding-bottom: 0.5vh;
      }
    }
  }
}

.Interested {
  width: 50%;

  text-align: center;
  display: flex;
  flex-direction: column;

  text-transform: uppercase;
  h1 {
    font-size: 1.75em;
    margin-bottom: 0.75em;
  }
  div {
    display: flex;
    align-self: center;
    justify-self: center;
    a {
      align-self: center;
      justify-self: center;
    }
    button {
      background-color: #292a3e;
      color: white;
      outline: none;
      border: none;
      border-radius: 3em;
      margin-bottom: 3vh;
      padding: 1vh;
      font-size: 1.25em;
    }
    button:hover {
      background-color: #775997;
    }
    margin-bottom: 2vh;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 0.25vh;
    h1 {
      font-size: 1.75em;
    }
    div > a > button {
    }
  }
}
