
.indexGrid#singlegrid{
  grid-template-rows: 45vh 1fr;
}
.CoverText#SingleCoverText {
  font-size: 1.25em;
  margin: auto auto;
  h1{
    width:100%;
  }
  p{
    width:95%;
  }
}
.focusedslide#singleslide {
  background-color:#585B8C;
  color:white;
  margin: 0;
}

/* Customer Page */
.CustBody{
  display:flex; /*changing*/; 
  text-align:left;
  padding-bottom:1vh;
  width:90%;
  margin: 0 auto;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'reqs' 'custOff';
  @media screen and (min-width:1024px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'reqs custOff';
  }
}

.Requirements{
  grid-area: reqs;
  ul > ul{
    list-style:none;
    font-weight:200;
    margin:2vh 2vh 2vh 0;
    li{
      padding-bottom:.5em;
      font-size:.85em;
    }
    li:before{
      display:inline-block;
      content: "-";
      width: 1em;
      margin-left: -1em;
    }
  }
}
.Offerings#CustOff {
  margin:0 0 0 3vw;
  border:none;
  grid-area: custOff;
  font-size:1.1em;
  grid-template-rows: min-content auto;
  @media screen and (min-width:1024px){
    padding-top:inherit;
    margin: 0 auto;
  }
  h1{
    margin-top:0;
    margin-bottom: 3.5vh;
  }
  li{
    margin-bottom:1.5vh;
  }
}

.CustTitle{
  padding-top:3vh;
  padding-bottom:7vh;
  text-align:center;
  *{
    width:80%;
    margin: 1vh auto 0 auto;
  }
}

/* Vendor Page */
.VendorBody{
  display:flex; /*changing*/; 
  flex-direction: column;
  color:white;
  padding: 2vh 1vh;
  text-align:left;
  margin:0;
  .handshakeImage{
    margin: 0 auto;
    width:70%;
  }
  @media screen and (min-width:1024px){
    flex-direction: row;
    margin: 2vh 3vw 0 1vw;
    font-size:.85em;
    .handshakeImage{
      margin: 0 auto;
      width:100%;
    }
  }
}

.Following{
  ul{
    li{
      padding-bottom:2em;
      line-height:1.5;
      font-weight:300;
      span.following{
        text-decoration:underline;
        font-style:normal;
      }
      p{
        display:inline;
        &:before{
          content:' - '
        }
      }
    }
    @media screen and (max-width:1024px){
      display:flex;
      justify-content:space-evenly;
      margin-left:0;
      li{
        width:25%;
        font-size:.75em;
        margin-left:2vh;
        .fa-li{
          display:none;
        }
        text-align:center;
        span.following{
          text-decoration:none;
          font-style:italic;
          font-size:1.25em;
        }
        p{
          display: block;
          &:before{
            content:''
          }
        }
      }
    }
  }
}

/* Contact Page */
.ContactBody{
  display:flex; /*changing*/; 
  margin: 4vh 3vw;
  grid-template-rows:auto auto;
  grid-template-columns: auto;
  @media screen and (min-width:1024px)  {
    grid-template-rows:auto;
    grid-template-columns: 1fr 1fr;
  }
}

.ContactInfo{
  width: 50%;
  display:flex; /*changing*/; 
  flex-direction: column;
  & > div {
    display: flex;
    flex-direction: row;
  }
  ul{
    width: 50%;
    list-style:none;
    text-align:left;
  }
  ul:first-of-type{
    margin-bottom:2vh;
  }
}
.ContactForm{
  width:50%;
  form{
    margin:4vh 0;
    text-align:left;
    display:flex; /*changing*/; 
    flex-direction: column;
    input{
      width:75%;
      height:50%;
    }
    textarea{
      resize:none;
      margin-bottom:1vh;
    }
    div{
      grid-column-start: 2;
      grid-row-start: 4;
      input{
        width: auto;
        background-color: #888DD8;;
        outline:none;
        border:none;
        color:white;
        border-radius: 5vh;
        padding-top: .5vh;
        padding-bottom:.5vh;
        &:hover{
          background-color:#292A3E;
        }
      }
    }
  }
}
